<div *ngIf="user">
  <div>
    <label>Name: </label> {{user.name}}
  </div>
  <div>
    <label>Surname: </label> {{user.surname}}
  </div>
  <div>
    <label>Usurname: </label> {{user.username}}
  </div>
  <div>
    <label>Password: </label> {{user.password}}
  </div>
  <div>
    <label>Address: </label> {{user.address}}
  </div>
  <div>
    <label>Phone: </label> {{user.phone}}
  </div>
  <div>
    <label>Premium: </label> {{user.premium}}
  </div>
  <div>
    <label>Studente: </label> {{user.studente}}
  </div>
  <div>
    <label>Crediti: </label> {{user.crediti}}
  </div>


  <!--<span class="button is-small btn-primary" *ngIf='customer.active' (click)='updateActive(false)'>Inactive</span>

  <span class="button is-small btn-primary" *ngIf='!customer.active' (click)='updateActive(true)'>Active</span>

  <span class="button is-small btn-danger" (click)='deleteCustomer()'>Delete</span>-->

  <hr/>
</div>
