<!--The content below is only a placeholder and can be replaced.-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container">

 <!-- <app-navigation></app-navigation>-->
  <app-toolbar></app-toolbar>
  <router-outlet></router-outlet>
  <div class="container">
    <br>
    <br>
    <hr>
    <div class="text-center">
      <a style="color: inherit" href="https://github.com/zhulinn"><i class="fab fa-github fa-3x"></i></a>
    </div>



    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
      © 2019 Copyright:
      <a href="https://zlin.me"> ToShop </a>
    </div>
    <!--/.Copyright-->
  </div>
</div>
