button{
  background: white;
  padding: 0;
  border: none;
  font-size: 130%;


}

mat-card {
  max-width: 600px;
  max-height: inherit;
  margin: 8em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

mat-checkbox  {
  position: inherit;
}

a {
  font-size: medium;
}

input{
  font-size: medium;
}
